*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

/* HTML: <div class="loader"></div> */
.loader {
    color: white;
    width: 40px;
    aspect-ratio: 1;
     --c: linear-gradient(#000 0 0);
     --m: radial-gradient(farthest-side,#000 92%,#0000);
    background: 
      var(--c),var(--m),
      var(--c),var(--m), 
      var(--c),var(--m);
    background-size: 8px 15px,8px 8px;
    background-repeat: no-repeat;
    animation: l14 1s infinite alternate;
    
  }
  @keyframes l14 {
    0%,
    10% {background-position: 0 0   ,0 100%,50% 0   ,50% 100%,100% 0   ,100% 100%}
    33% {background-position: 0 100%,0 0   ,50% 0   ,50% 100%,100% 0   ,100% 100%}
    66% {background-position: 0 100%,0 0   ,50% 100%,50% 0   ,100% 0   ,100% 100%}
    90%,
    100%{background-position: 0 100%,0 0   ,50% 100%,50% 0   ,100% 100%,100% 0   }
  }






  @keyframes myAnim {
    50% {
      opacity: 1;
      transform: scale(1.4);
    }
  
   50% {
      opacity: 0;
      transform: scale(1);
    }
  }


  .btn{
    bottom: 0;
  }
  .btn::hover{
    background-color: white;
    color: red;
}





